window {
  margin: 0px;
  border: 2px solid #89b4fa;
  background-color: #11111b;
  color: #cdd6f4;
}

#input {
  margin: 12px;
  padding: 10px 12px;
  border: 1px solid #585b70;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#inner-box {
  margin: 0 12px 12px 12px;
  background-color: #11111b;
}

#outer-box {
  margin: 0px;
  padding: 0px;
  background-color: #11111b;
}

#scroll {
  margin: 0px;
}

#entry {
  padding: 10px 12px;
  border-radius: 0;
}

#entry:selected {
  background-color: #313244;
  color: #f5e0dc;
}

#text:selected {
  color: #f5e0dc;
}
